_binaries
packages
Database/sql
Database/Migration/scripts
Database/Migration/reports
Database/Patches/scripts
Database/Patches/logs
.deploy/scripts
.deploy/log
.vs
**.vssscc
**.vspscc
**/*.user
*/obj
*/bin
WCFTestClients/*/obj
WCFTestClients/*/bin
**.dbmdl
**.jfm
UpgradeLog.htm
Registry.ISLPZ.sln.DotSettings.user
/UpgradeLog*.htm
Reporting/.vs
Reporting/*/obj
Reporting/*/bin
**/*.suo
